/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #090a33;
    background-color: #e1e1ff;
    font-family: "Lucida Sans Unicode";
  }
  h1, h2, h3 {
    font-family: "Courier New";
    color: black;
  }

  .intro {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #090a33;
    font-family: "Courier New";
    color: black;
    display: inline-flexbox;
    background-color: #e1e1ff;
  }